# Rust
/target
**/*.rs.bk

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
*.egg-info/
.pytest_cache/

# Maturin / PyO3 artifacts
*.so
*.dylib
*.dll

# Web / Wasm
pkg/

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Mac
.DS_Store

# Ignore everything in bindings
/bindings/*

# Allow the specific file path directly
!/bindings/swift/
!/bindings/swift/VitalLensCore.swift